<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <script src="js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .navbar-nav > li > a {padding-top:0px !important; padding-bottom:0px !important;}
        .navbar {min-height:32px !important}
        #navbarDropdown{
          font-size: 15px;
        }
        .nav-link{
          font-size: 15px;

        }
        #active{
          color:white;
        }
        #nav1
        {  
            opacity: 0.98;           /*0.5 determines transparency value*/ 
            filter:(opacity=50);       
        }
    </style>
    <script>

    </script>
    
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark " id="nav1">
      
        <div class="navbar-collapse" id="navbarSupportedContent">
          <!--<ul class="navbar-nav ml-auto">-->
          <ul class="navbar-nav mx-auto" >
            <li class="nav-item">
              <a class="nav-link" id="home" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" id="katz" href="{{url_for('katz')}}">Katz <i class="fa fa-youtube-play" style="font-size:15px"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sora" href="{{url_for('sora')}}">Sora <i class="fa fa-youtube-play" style="font-size:15px"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="combine" href="{{url_for('combine')}}">Combine <i class="fa fa-youtube-play" style="font-size:15px"></i><span class="sr-only">(current)</span></a>
            </li>
            <!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{url_for('combine')}}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Combine
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>-->
          </ul>
          <ul class="navbar-nav mr-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa fa-youtube-play" style="font-size:20px"></i> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa fa-instagram" style="font-size:20px"></i> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa fa-twitter" style="font-size:20px"></i> <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
    </nav>
{% block content %}

{% endblock %}
</body>
</html>