{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
{% endblock %}
{% block title %}
Home Page
{% endblock %}
{% block content %}

<div class="row">
    <div class="column" id="katz">
        <div class="wrapper">
            <img src="{{ url_for('static', filename='/images/katz.png')}}" class="img-center">
        </div>
        <h2 class="text-center">Katz</h2>
        <div class="wrapper">
            <button class="btn-center">Pulse me</button>        
        </div>
    </div>
    <div class="column" id="sora">
        <div class="wrapper">
            <img src="{{ url_for('static', filename='/images/sora.png')}}" class="img-center">
        </div>
        <h2 class="text-center">Sora</h2>
        <div class="wrapper">
            <button class="btn-center">Pulse me</button>        
        </div>
    </div>
</div>


<!--https://www.paypal.com/buttons/-->
{% endblock %}