.row{
    width: 100%;
    height: 55vh;
    background-image: url(../images/purple_bg.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column {
    padding: 15vh;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.wrapper {
    text-align: center;
}
.btn-center{
    position: relative;
    top:5vh;
    align-self: flex-start;
}
.text-center{
    text-align: center; 
    color: white;
}
.img-center{
    width: 20vh;
    height:20vh;
}
#katz{
    background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80')"
}
#sora{
    background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80')"
}