

.row-first{
    width: 100%;
    height: 83vh;
    background-image: url(../images/purple_bg.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row{
    width: 100%;
    height: 100vh;
    background-image: url(../images/purple_bg.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column {
    padding: 15vh;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.wrapper {
    text-align: center;
}
.btn-center{
    position: relative;
    top:5vh;
    align-self: flex-start;
}
.text-center{
    text-align: center; 
    color: white;
}
.text-left{
    text-align: left; 
    color: white;
    line-height: 1.5
}
.dropdown{
    padding-top: 39px;
}
.nav-katz{
    height: 60px;
    background: #2c3e50;
    box-shadow: 0 10px 15px rgb(0,0,0,0.1);
}
.logo{
    padding: 5px 0 0 80px;
    width: 130px;
    height:auto;
}
.nav-katz ul{
    padding:0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
.nav-katz ul li{
    background-color: #2c3e50;
    position: relative;
    list-style: none;
    display: inline-block;   
}
.nav-katz ul li a{
    display: block;
    padding: 0 15px;
    color:white;
    text-decoration: none;
    line-height: 60px;
    font-size:15px
}

.nav-katz ul li a:hover{
    background: #243342;
}
.nav-katz ul ul{
    position: absolute;
    top:60px;
    display:none;
}
.nav-katz ul li:hover>ul{
    display: block;
}
.nav-katz ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
.nav-katz ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
}
#title{
    font-family: 'Oswald';
    text-shadow: 2px 2px 2px black;
    letter-spacing: 10px;
    font-size: 14vh;
    position: relative;
    bottom: 4vh;
}
#paragraph{
    position:relative;
    bottom:3vh;
    margin-left:14px;
    font-family: 'Open Sans';
    text-shadow: 1px 1px 2px black;
    font-size: 3.5vh;
    font-style: bold;
}
.div-left{
    padding-left: 5vw;
}
#img-port{
    position: relative;
    left:5vw;
    width: 100%;
}